.riddle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  &__container {
    max-width: 50%;
    max-height: 70%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #242424;
    border-radius: 1em;
    @media screen and (min-width: 375px) and (max-width: 1366px) {
      max-width: 80%;
      padding: 1em;
    }
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  &__answer-input-container {
    display: flex;
    align-items: center;
    gap: 1em;
    @media screen and (min-width: 375px) and (max-width: 1366px) {
      flex-direction: column;
    }
  }
  &__answer-input {
    padding: 1em;
    border-radius: 1em;
    border: 1px solid transparent;
    font-size: 16px;
  }
}
