.navigation {
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 375px) and (max-width: 768px) {
      padding: 1em 1em;
    }
  }
  &__logo {
    font-size: 24px;
    user-select: none;
    cursor: pointer;
  }
}

.header-modal__caption {
  font-size: 24px;
}

.header-modal__buttons-container {
  display: flex;
  gap: 1em;
}
